In [66]:
import pandas as pd
import pymysql

In [67]:
username = "admin"
password = "12345678"
host = "database-1.cjkqaw0c4rh3.us-east-2.rds.amazonaws.com" 
port = 3306

'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''

db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor
)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

In [68]:
cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL version: {version}')

MySQL version: {'VERSION()': '8.0.39'}

In [69]:
create_db = '''CREATE DATABASE keyfinder'''
cursor.execute(create_db)

1

In [70]:
cursor.connection.commit()
use_db = ''' USE keyfinder'''
cursor.execute(use_db)

0

In [74]:
create_table = '''
CREATE TABLE kb_input (
    id_kb_input INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    kb_usage VARCHAR(45) NOT NULL,
    budget INT NOT NULL,
    switch VARCHAR(50) NOT NULL,
    kb_size VARCHAR(30) NOT NULL,
    kb_connection VARCHAR(20) NOT NULL,
    mk_before BOOLEAN NOT NULL,
    mk_input VARCHAR(300) NOT NULL
);
'''
cursor.execute(create_table)

0

In [75]:
create_table = '''
CREATE TABLE kb_output (
    id_kb_output INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    id_kb_input INT NOT NULL,
    kb_shown INT NOT NULL,
    price INT NOT NULL,
    switch VARCHAR(50) NOT NULL,
    kb_size VARCHAR(50) NOT NULL,
    mk_output VARCHAR(300) NOT NULL,
    FOREIGN KEY (id_kb_input) REFERENCES kb_input(id_kb_input)
);

'''
cursor.execute(create_table)

0

In [77]:
# checkear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_keyfinder': 'kb_input'}, {'Tables_in_keyfinder': 'kb_output'}]

In [83]:
cursor.execute('Select * from kb_output')
cursor.fetchall()

()